/* -------------------------------------------------------------------------------- 
BASE
-------------------------------------------------------------------------------- */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}

h1,
h2,
h3,
h4 {
  text-align: left;
}

section {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

/* -------------------------------------------------------------------------------- 
LOADER
-------------------------------------------------------------------------------- */
.loader__container {
  background: transparent;
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease-in-out;
}

.dot {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #6c45ff;
  margin: 0 15px;
  animation: loader infinite 0.3s alternate;
}

.d2 {
  animation-delay: 0.05s;
}
.d3 {
  animation-delay: 0.1s;
}

@keyframes loader {
  100% {
    transform: translateY(-20px);
  }
}

/* -------------------------------------------------------------------------------- 
MESSAGE ERROR
-------------------------------------------------------------------------------- */
.message__error {
  background: rgba(230, 30, 30, 0.5);
  padding: 1rem;
  border-radius: 0.5rem;
  color: #fff;
  font-weight: 600;
  text-align: center;
}
.link-error {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 1rem;
  color: #6c45ff;
}

/* -------------------------------------------------------------------------------- 
HEADER
-------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------- 
NAV
-------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------- 
MAIN
-------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------- 
HERO
-------------------------------------------------------------------------------- */
.hero {
  position: relative;
  display: flex;
  overflow: hidden;
}

.hero__image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.hero__infos {
  position: absolute;
  top: 50%;
  left: 13.5%;
  transform: translate(0%, -50%);
  max-width: 380px;
  width: 100%;
}

.hero__infos-title {
  font-size: 3rem;
  color: #404040;
}

.hero__infos-title span {
  background: linear-gradient(142deg, #6c45ff, #e22fff);
  background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -o-text-fill-color: transparent;
}
/* -------------------------------------------------------------------------------- 
PRODUCTS PAGE
-------------------------------------------------------------------------------- */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product__card {
  border: 1px #ddd solid;
  margin: 1rem;
  border-radius: 1rem;
}

.product__card-image {
  width: 100%;
  max-width: 300px;
  border-radius: 1rem;
}

.product__card-body {
  padding: 1rem;
}

.product__card-body a {
  text-decoration: none;
}

.product__card-body .title {
  font-weight: medium;
  color: #6c45ff;
  font-size: large;
}

.product__card-body .text {
  font-weight: bolder;
  color: #6c45ff;
  font-size: large;
}

.rating span {
  color: #e22fff;
}

/* -------------------------------------------------------------------------------- 
PRODUCT PAGE
-------------------------------------------------------------------------------- */
.product {
  margin-top: 2rem;
}
.single__product {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.single__product-image {
  width: 50%;
  flex: 0 0 auto;
}
.img-large {
  max-width: 100%;
}
.item {
  background-color: #fff;
  border-width: 0 0 1px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  color: #212529;
  display: block;
  padding: 0.5rem 1rem;
  position: relative;
  text-decoration: none;
}
.single__product-infos {
  width: 25%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  border-width: 0 0 1px;
}
.single__product-actions {
  width: 25%;
  flex: 0 0 auto;
}
.status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* -------------------------------------------------------------------------------- 
BUTTON
-------------------------------------------------------------------------------- */
button {
  padding: 0.9rem 1rem;
  background-color: transparent;
  border: 2px solid #6c45ff;
  border-radius: 1rem;
  color: #6c45ff;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  color: #fff;
  background-color: #6c45ff;
}

/* -------------------------------------------------------------------------------- 
FOOTER
-------------------------------------------------------------------------------- */
footer {
  background-color: #404040;
  padding: 2rem;
}
.footer__content {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.footer__content-copy {
  color: #fff;
  text-align: center;
}

/* -------------------------------------------------------------------------------- 
CART SCREEN
-------------------------------------------------------------------------------- */
.img-thumbnail {
  height: 80px;
}

/* -------------------------------------------------------------------------------- 
SIGNIN SCREEN
-------------------------------------------------------------------------------- */
.small-container {
  max-width: 600px;
}

/* -------------------------------------------------------------------------------- 
CHECKOUT STEPS
-------------------------------------------------------------------------------- */
.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}
